footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #a39494;
    padding: 50px 0px;
    background-color: #f7fafd;
}
.footer__box{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer__text {
    line-height: 1.7;
    width: 250px;
    color: #777;
    font-size: 14px;
}
.footer__text h3{
    color:#333;
    padding-bottom: 10px;
}
.footer__text i {

    padding: 0;
    padding-right: 10px;
    font-size: 16px;

}

.value__links {
    width: 150px;
}

.footer__icons i {
    font-size: 30px;
}
.copyring__box{
    margin-top: 50px;
    font-size: 14px;
}
    