@media only screen and (max-width: 1200px) {

    .white_right {
        display: none;
    }

    .white_circle {
        display: none;
    }

    .yellow_circle {
        display: none;
    }

    .iphone__circle__box {
        display: none;
    }

    .blue_circle {
        display: none;
    }
    .green_daimond{
        display: none;
    }

}

@media only screen and (max-width: 900px) {
    .nav{
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }
    .nav__link {
      display: none !important;
    }

    .nav__logo {
       width: 107px;
       height: 36px;
    }
    .nav__logo  img {
        width: 107px;
        height: 36px;
     }
    .download{
        display: none;
    }

    .header__text h1 {
        font-size: 32px;

    }

    .header__text p {
        text-align: center;
        width: 80%;
    }

    .card {
        display: flex;
        flex-wrap: wrap;


    }

    .discription2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .discription2__text {
        width: 70%;
    }

    .discription2__link {
        display: none;
    }

    .features__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .iphone__white__box {
        display: none;
    }

    .header__last {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .number__cards {
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        gap: 50px !important;
        padding: 50px;
    }

    .footer__box {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .png__image {
        display: none !important;

    }

    .testimonials__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .discript1{
        width: 100%;
    }
    .discript1 img{
        width: 100%;
    }
   .img__box_discript{
    width: 100%;
   }
   .img__box_discript img{
    width: 100%;
   }

}
@media only screen and (max-width: 500px) {
     nav{
        padding: 0 !important;
     }
     header{
        padding-top: 150px !important;
     }
    .header__text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header__link{
        display: flex;
        flex-direction: column;
    }
    .header__last__text{
        width: 100%;
        font: 16px;
        padding:0 10px !important; 
    }
    .header__last__text h1{
        text-align: center;


    }
    .discription2__btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .features__right__text__box{
        width: 100%;
    }
    .features__left{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .features__box{
        display: flex;
        justify-content: center;
    }
    .before__icons i{
        font-size: 10px;
        margin-right: 0 !important;

    }
    .features__right__box{
        display: flex;
        flex-direction: column;
        text-align: center !important;
        margin-left: 0 !important;
    }
    .features__right{
        display: flex;
        flex-direction: column;
    }
    .testimonials__text__box{
        width: 100% !important;
    }
    .download__extra__link{
        display: flex;
        flex-direction: column;
    }
    .features__left{
        display: flex;
        flex-direction: column;
        align-items: center ;
        margin-right: 0 !important;
        text-align: center !important;
    
        
    }
    .features__box div {
        flex-direction: column;
        align-items: center;
    }
    .features__header__left{
        flex-direction: column;
        margin-right: 0 !important;
    }
    .features__left__box{
        margin-right: 0 !important;
    }
    .hamburger{
        display: block !important;
    }
    .hamburger i{
    font-size: 32px;
    padding: 0;
    }
}