.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 10px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.swiper-wrapper {
    width: 50%;
    height: 50%;
}

.swiper__container {
    background-color: #e8eff6;
    margin: 0 auto;
    width: 100%;
    padding: 10% 15%;
    height: auto;
}